header {
    background-color: #F7F7F7;
    color: #444;
    padding: 10px;
}

/* MENU */
#menu {
    display: flex;
}
#menu li {
    list-style: none;
}
#menu li a {
    text-decoration: none;
    color: #333;
    background-color: aqua;
    padding: 10px;
}
#menu li a:hover {
    background-color: rgb(8, 93, 93);
    color: white;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    padding: 10px;
}